.CoinList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.CoinList__ol {
  list-style: none;
  background: var(--surface);
  width: 100%;
}

.CoinList__li:hover {
  background: var(--lighter-surface);
}

.CoinList__a {
  text-decoration: none;
  color: inherit;
}

