.ButtonSet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.ButtonSet > li > button {
  border-radius: 0;
 }

.ButtonSet > li:first-child > button {
 border-radius: 4px 0 0 4px;
}

.ButtonSet > li:last-child > button {
  border-radius: 0 4px 4px 0;
 }
