.Button {
  padding: 3px 9px;
  background: var(--on-surface);
  border-radius: 2px;
  border-radius: 4px;
  border: 1px solid var(--on-background);
  background: var(--surface);
  color: var(--on-background);
  letter-spacing: 2px;
  font-size: 15px;
  transition: background-color 1s, border 1s;
}

.Button:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  transition: 1s;
}
.Button:focus-visible {
  position: relative;
  outline: 3px solid var(--green);
  outline-offset: -1px;
}
