.CoinPreview {
  display: grid;
  position: relative;
  grid-template-columns: 50px 200px 100px 1fr 150px 120px 1fr 200px 200px;
  padding: 20px 30px;
  text-align: right;
  border-bottom: 1px solid var(--highlighted-surface);
  width: 100%;
  line-height: 30px;
  font-size: 16px;
  background: var(--surface);
}

.CoinPreview:hover {
  background: var(--highlighted-surface);
}

.CoinPreview__name {
  font-size: 16px;
  text-align: left;
}

.CoinPreview__img {
  width: auto;
  max-width: 40px;
  height: 30px;
  margin-right: 10px;
}

.CoinPreview__symbol {
  text-transform: uppercase;
  text-align: center;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}
