:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #04dac6;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #000000;
  --on-secondary: #000000;
  --highlighted-surface: #3e3e3e;
  --red: #ee3333;
  --green: #11d811;
  --yellow: yellow;
}
