* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #121212;
  --surface: #1e1e1e;
  --primary: #bb86fc;
  --primary-variant: #3700b3;
  --secondary: #04dac6;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #000000;
  --on-secondary: #000000;
  --lighter-surface: #3e3e3e;
}

body {
  background-color: var(--background);
  color: var(--on-background);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--on-background);
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;
}

.coin-input {
  padding-left: 16px;
  width: 400px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid var(--on-background);
  background: var(--background);
  color: var(--on-background);
  letter-spacing: 2px;
  font-size: 18px;
  transition: 1s;
  outline: 1px solid transparent;
}

.coin-input:focus {
  outline: 1px solid #11d811;
  border: 1px solid #11d811;
  transition: 1s;
}

.coin-input::placeholder {
  opacity: 0.6;
}

ul {
  list-style: none;
  background: var(--surface);
}

a {
  text-decoration: none;
  color: inherit;
}

.coin:hover {
  background: var(--lighter-surface);
}

header {
  width: 100%;
  background: var(--surface);
  color: var(--on-surface);
  margin-bottom: 40px;
  padding-top: 64px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}
